# Ignore virtual environment
venv/
.env

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and cache
*.log
*.cache

# Ignore system files
.DS_Store
Thumbs.db
